/**
 * Site header
 */
 .site-header {
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 3;
  background-color: #fff;
  height: 46px;
  border-top: 3px solid $grey-color-dark;
  border-bottom: 1px solid #f2f2f2;
  margin-top: 0;
  // Positioning context for the mobile navigation icon
}

@include adaptive-setting($on-bigscreen) {
  .site-header {
    width: 60%;
    position: fixed;
    right: 0;
    z-index: 3;
    background-color: #fff;
    height: 46px;
    border-top: 3px solid $grey-color-dark;
    border-bottom: 1px solid #f2f2f2;
    margin-top: 0;
    // Positioning context for the mobile navigation icon
  }
 }


.blur{
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}


.site-title {
  font-weight: 300;
  line-height: 46px;
  margin-bottom: 0;
  padding-bottom: 13px;
  margin-right: 4%;
  font-size: $base-font-size / 1.1;
  position: relative;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    color: $grey-color-dark;
    transition: all 250ms ease-in-out;
    text-decoration: none;
  }

  &:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.site-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  background: $grey-color-dark;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scaleX(0) translate3d(0, 0, 0);
  transform: scaleX(0) translate3d(0, 0, 0)
}

.header-active {
  border-bottom: 3px solid $grey-color-dark;
}

.header-mobile {
  display: inline;
  float: right;
  font-weight: 400;
  margin-right: -2%;
}

.header-mobile:before {
  display: none;
}

.header-mobile img {
  height: 25px;
  width: 25px;
}

@include adaptive-setting($on-bigscreen) {
  .header-mobile {
    display: none;
  }
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);    
  font-family: Menlo, Monaco, Consolas, "Courier New", SimHei, monospace;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit / 2;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Sidebar
 */

.sidebar {
  width: 0%;
  height: 0%;
  border-right: none;
  position: static;
  text-align: center;
  z-index: 4;
  display: none;
}

@include adaptive-setting($on-bigscreen) {
  .sidebar {
    width: 40%;
    height: 100%;
    border-right: 1px solid #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 4;
    display: inline;
  }
}

.sidebar-image {
  padding-left: 0;
}

.sidebar .logo-title {
  text-align: center;
  padding-top: 30%;
}

.sidebar .logo-title .description {
  font-size: 14px;
  color: #565654;
}

.sidebar .logo-title .title a {
  text-decoration: none;
  color: #464646;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.social-links {
  list-style: none;
}

.sidebar-footer {
  clear: both;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;

}

.sidebar-footer a {
  color: #A6A6A6;
}
.sidebar-footer a:hover {
  color: #4786D6;
}

/**
 * Page content
 */
.page-content {
  width: 100%;
  // background-color: #fafafa;
  //overflow-y: scroll;
  float: none;
}

@include adaptive-setting($on-bigscreen) {
  .page-content {
    width: 60%;
    // background-color: #fafafa;
    //overflow-y: scroll;
    float: right;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}



/**
 * Post page
 */

.post-list {
  margin-top: 60px;
  margin-left: 0;
  list-style: none;

  > li {
    // margin-top: $spacing-unit /2;
    padding: 2% 1% 2% 1%;
    border-bottom: 1px solid rgba(220, 220, 220, 0.555);

    > h2 {
      margin-top: 2px;
      margin-bottom: 0;
    }
  }

  > li:hover{
    background-color: rgb(239, 239, 239);
  }
}

.post-meta {
  font-size: $base-font-size / 1.2;
  color: $grey-color;
  letter-spacing: 2px;
  margin-right: $spacing-unit / 15;
}

.post-cate {
  font-size: $base-font-size / 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px dotted $grey-color-dark;
  color: #828282;
}

.post-cate-shadow {
  border-radius: 3px;
  background-color: $grey-color-dark;
  color: $grey-color-light;
  border-bottom: none;
  padding: 0 5px 0 5px;
}

.post-cate-link {
  color:#e8e8e8;
  
  &:visited {
    color:#e8e8e8;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.post-cate-index {
  color: #828282;

  &:visited {
    color: #828282;
  }

  &:hover {
    text-decoration: none;
    color: $title-color;
  }
}

a.post-link {
  display: block;
  @include relative-font-size(1.2);
  text-decoration:none;
  color: $title-color;
  letter-spacing: 1px;
}

/**
 * Posts
 */

.post {
  margin-top: 70px;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.5);
  letter-spacing: -1px;
  line-height: 1;

  @include adaptive-setting($on-bigscreen) {
    @include relative-font-size(2);
  }
}

.highlighter-rouge {
    background: #ebeef5;
}

.post-content {
  margin-bottom: $spacing-unit;

  p {
    color: $post-text-color;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    padding-top: 15px;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    padding-top: 15px;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  hr {
    color:  $grey-color;
    border-top: 1px grey;
    border-bottom: 0;
    border-style: solid;
  }

  .highlight {
    margin-bottom: $spacing-unit / 2;
  }
  
}

.pagination {
    height: 40px;
    font-size: 12px;
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
    
}

.pagination ul {
    display: block;
    margin-left: 2px;
    margin-bottom: 2px;
}

.pagination li {
    display: inline;
}

.pagination ul li.prev {
  float: left;
}

.pagination ul li.next {
  float: right;
}

.pagination a {
    padding: 4px 14px;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px 4px;
    color: #3d3d3d;
    color: rgba(0, 0, 0, 0.66);
}

.pagination a:hover, .pagination .active a {
    border-color: #464646;
    color: #464646;
    transition: all 250ms ease-in-out;
}

.pagination .active a {
    color: #999999;
    cursor: default;
}

.pagination .disabled a, .pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.large-screen{
  display: inline;
}
.small-screen{
  display: none;
}

@include media-query(1200px) {
  .large-screen{
    display: none;
  }
  .small-screen{
    display: inline;
  } 
}

/**
 * Category start
 */

.category-title {
  color: $title-color;
  letter-spacing: 2px;
}

.archieve-title {
  color: $title-color;
  margin-left: -5%;
  letter-spacing: 2px;
}

.category-li-date, .archieve-li-date {
  color: $grey-color;
  padding-right: 10px;
}

.archieve-li-item {
  border-left: 1px solid #f2f2f2;
  padding-left: 10px;
  margin-left: -20px;
}

.category-list {
  border-left: 1px solid #f2f2f2;
  padding-left: 10px;
  margin-left: 10px;
}

.category-list, .archieve-list {
  list-style: none;
}

.category-li-item, .archieve-li-item {
  padding-bottom: 2px;
  padding-top: 2px;
}


/**
* Category end
*/
