---
layout: page
---
<div class="archieve">
<ul class="archieve-list">
{%for post in site.posts %}
    {% unless post.next %}
        <h2 class="archieve-title" id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h2>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        <h1 class="archieve-title">{{ post.date | date: '%Y' }}</h1>
        {% endif %}
    {% endunless %}
    <li class="archieve-li-item">
        <span class="archieve-li-date">
        {{ post.date | date: site.date_format }}
        </span>
        <a class="archieve-link" href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>
</div>