---
layout: page
---

<div class="category">
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    <h2 class="category-title" id="{{ category[0] | upcase }}">{{ category[0] | upcase }}</h2>
    <ul class="category-list">
        {% for tag in category[1] %}
            {% if tag.title != null %}
                {% if group == null or group == node.group %}
                    <li class="category-li-item">
                        <span class="category-li-date">
                        {{ tag.date | date: site.date_format }}
                        </span>
                        <a class="category-link" href="{{ site.baseurl}}{{ tag.url }}">{{ tag.title }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
{% include sidelocator.html %}
</div>
<script>
var SIDELOCATOR = document.querySelector('.side-locator');

function getCategoeryList() {
    var hashList = document.querySelectorAll('.category-title');
    var hashArray = [];
    var hashLetter = [];
    hashList.forEach(function (hashObj) {
        var indexLetter = hashObj.id.slice(0,1);
        for (var i=0; i<hashLetter.length; i++){
            if (hashLetter[i] == indexLetter) {
                return;
            }
        }
        hashLetter.push(hashObj.id.slice(0,1));
        hashArray.push(createSideLocatorItem(hashObj.id));
    });
    return hashArray;
}

function createSideLocatorItem (hashTag) {
    var listElm = document.createElement('li');
    listElm.setAttribute('class', 'side-locator-item');
    var linkElm = document.createElement('a');
    linkElm.setAttribute('href', '#'+hashTag);
    linkElm.textContent = hashTag.slice(0,1);
    listElm.append(linkElm);
    return listElm;
}
getCategoeryList().forEach(function (liObj) {
    SIDELOCATOR.appendChild(liObj);
});

function cateHashChangeHandler() {
    var taglist = document.querySelectorAll('.side-locator-item a')
    taglist.forEach(function (liObj) {
        liObj.style.color = "#828282"
        liObj.style.fontWeight = '400'
    })
    var WINDOWHASH = window.location.hash
    if (!WINDOWHASH) {
        return false;
    }
    var highligtitem = document.querySelector('a[href=\"' + WINDOWHASH + '\"]')
    highligtitem.style.color = "#2a7ae2"
    highligtitem.style.fontWeight = '600'
}

cateHashChangeHandler()
window.onhashchange = cateHashChangeHandler

</script>