---
layout: page
---

<div class="category">
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
    <div class="category-group">
    <h2 class="category-title" id="{{ category[0] | upcase }}">{{ category[0] | upcase }}</h2>
    <ul class="category-list">
        {% for post in category[1] %}
            {% if post.title != null and post.hidden != true %}
                {% if group == null or group == node.group %}
                    <li class="category-li-item">
                        <span class="category-li-date">
                        {{ post.date | date: site.date_format }}
                        </span>
                        <a class="category-link" href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    </div>
{% endfor %}
</div>
{% include sidelocator.html %}