---
layout: default
---
<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.hidden != true %}
      <li>
        <span class="post-meta">{{ post.date | date: site.date_format }}</span>
        {% for category in post.categories%}
        <span class="post-cate" itemprop="category"><a class="post-cate-index" href="/category#{{ category | upcase }}">{{ category }}</a></span>
        {% endfor %}
        <h2>
          <a class="post-list-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
